.PostDetail {
    font-size: 2rem;

    .Header {
        color: var(--color-white);
        background: var(--gradient-orange);
        font-size: var(--header-font-size);
        font-family: var(--header-font-family);
        font-weight: var(--header-font-weight);
        text-shadow: var(--header-text-shadow);
        letter-spacing: var(--header-letter-spacing);

        display: flex;

        span {
            flex-grow: 1;
            flex-basis: auto;
            text-align: center;
            padding: 2rem 3.2rem;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .Image {
            position: relative;
            flex-basis: 30rem;
            height: 15rem;
        }
    }

    .Content {
        font-weight: 400;
        padding: 3.5rem;
        padding-bottom: 4.5rem;

        .Image {
            display: flex;
            justify-content: center;
            margin-bottom: 1.5rem;
        }

        a {
            color: var(--link-color);
            font-weight: 600;
        }

        strong {
            font-weight: 600;
        }

        ul,
        ol {
            list-style-position: inside;
        }

        h1,
        h2 {
            margin-top: 2rem;
        }

        h3,
        h4,
        h5,
        pre,
        div {
            margin-top: 1.5rem;
        }

        pre,
        p {
            margin-bottom: 1.5rem;
        }
    }
}
