.PostItem {
    background: var(--color-grey-dark-3);

    .Container {
        .Image {
            width: 100%;
        }

        .Content {
            color: var(--color-white);
            padding: 2.2rem;
            padding-bottom: 3.2rem;

            .Title {
                font-family: var(--title-font-family);
                font-weight: var(--title-font-weight);
                font-size: var(--title-font-size);
                text-transform: capitalize;
            }

            .Time {
                color: var(--color-grey-light-2);
            }

            .Text {
                margin-top: 1rem;
                font-size: 2rem;
                text-indent: 1.2rem;
            }
        }
    }
}
