.PostGrid {
    margin-top: 2.2rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    .Empty {
        padding: 1.5rem 3.2rem;
        grid-column: span 2;
    }
}
