.Input {
    width: 100%;
    label {
        display: block;
        text-transform: uppercase;
        padding-bottom: 0.7rem;
        font-size: 1.4rem;
        font-weight: 600;
    }

    input,
    textarea {
        background: transparent;
        width: inherit;
        resize: vertical;
        border-bottom: 1px solid currentColor;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:focus-within {
            background: white;
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
            border-color: transparent;
            border-radius: 1.5rem;
        }
    }
}
