.Input {
    width: 100%;
    label {
        display: block;
        text-transform: uppercase;
        text-shadow: 1px 1px var(--color-black);
        padding-bottom: 0.7rem;
        font-size: 1.4rem;
        font-weight: 600;
    }

    input,
    textarea {
        background: transparent;
        width: inherit;
        resize: vertical;
        border-bottom: 1px solid currentColor;
        transition: all 0.4s cubic-bezier(0.58, 0.34, 0.71, 1.35);

        &:focus-within {
            background: white;
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
            border-color: transparent;
            border-radius: 1.5rem;
        }
    }
}
